html {
	height: 100%;
	background: #f1f1f1;
}

div.content {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

input.valid {
	border-color: #44dd44;
	padding: 10px;
	border-radius: 5px;
}

div.post {
	margin-top: 50px;
	padding: 15px;
	border: 1pt solid #bbb;
	border-radius: 5px;
	box-shadow: 0 0 10px;
	background: #fff;
}